// Styles specific to the car item component

.car-item {
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.4s;
    cursor: pointer;
  }
  
  .car-item:hover {
    box-shadow: 1px 3px 6px rgba(0,0,0,0.24);
  }
  
  .car-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .car-details {
    padding: 16px;
  }
  
  .car-meta{
    margin: 0;
    font-size: 1.2em;
    font-weight: 500;
  }
  
  .car-price {
    color: #4CAF50;
    font-size: 1.2em;
    margin: 18px 0;
    font-weight: 600;
  }
  
  .car-specs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
  }

  .car-transmission, .car-fuel-type, .car-mileage {
    font-size: large;
    margin-right: 16px;
    margin-top: 10px;
  }