// Styles for finance breakdown component

.finance-breakdown {
    background-color: #F6F7FB;
    border-radius: 1.2rem;
    border: 0.1rem solid #ddd;
    transition: all 0.5s ease-in-out;
}

.finance-detail {
    background: #FFFFFF;
    border-radius: 1.4rem;
    padding: 0.8rem;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}
.finance-tab {
    margin-top: 1rem;
    margin-bottom: -2px;
&.active {
    font-weight: bold;
    border-bottom: 2px solid blue; 
}
}

.finance-content {
    padding-top: 1rem;

    span {
        font-weight: 700;
    }
}

.breakdown-button {
    background: #FFFFFF;
    color: #95A0B0;
    border: 0.1rem #ddd;
    padding: 1.2rem 0.6rem;
    border-radius: 1rem;
    align-items:center;
    margin-bottom: 0.5rem;
    margin-left: 0.1rem;
    span {
        display: inline-block;
        width: 9rem;
    }
}