// Styles for finance breakdown component

.finance-detail {
    background: #f8f8f8;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}
.finance-tab {
    margin-top: 1rem;
    margin-bottom: -2px;
&.active {
    font-weight: bold;
    border-bottom: 2px solid blue; 
}
}

.finance-content {
    padding-top: 1rem;
}