//  Listing Header component 
//  ========================================================================================
.listing-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    padding-bottom: 30px;
    padding-top: 20px;
}

.listing-count {
    color: #333;
    font-size: 1.25em;
    font-weight: bold;
    margin-right: 1rem;
}

.quality-filter {
    color: #95A0B0;
    display: flex;
    margin-right: 32rem;

    button {
        border: 1.5px solid #ddd;
        border-radius: 1.2rem;
        cursor: pointer;
        margin-right: 0.2rem;
        padding: 0.25rem 1.5rem;
        transition: background-color 0.03s;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            background-color: #7C4DFF;
            border-color: #7C4DFF;
            color: white;
        }

        &:not(.active):hover {
            border: 0.1px solid #333;
            color: #333;
        }
    }
}

.sorting-options {
    cursor: pointer;
}

#sortSelect {
    background-color: #f8f8f8;
    border: 0.1rem #ddd;
    border-radius: 0.8rem;
    color: #95A0B0;
    padding: 0.5rem 0.6rem;
}