.listing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 1.1rem;
}
.listing-title {
    margin: 0;
    font-size: 1.5em;
}
.sorting-options {
    display: flex;
    align-items: center;
}
button {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    cursor: pointer;
}
button:hover {
    background-color: #eaeaea;
}
button:active {
    background-color: #ddd;
    font-weight: bold;
}