//  Navbar component 
//  ========================================================================================
.navbar-link {
    color: #333;
    text-decoration: none;

    &:hover {
        color: #000;
    }
}