// // Valuation card styles

.value-my-car-btn {
    background-color: #7572FF;
    color: white;
    // padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;

    &:hover {
        background-color: #615ffb; 
    }
}